.stats {
    background-color: rgba(32, 176, 166, .7);
    padding: 10px;
    margin-top: 15px;
}
.score {
    padding: 10px
}
#rightPannel {
    margin-left: 20px;
    margin-right: 10px;
    background-image: url('../images/game-board/red-bricks.png');
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height:450px;
    color: white;
    border: 2px solid white;

}

.score > span {
    font-size: 20px;
}

.time {
    margin-bottom: 30px
}

#rightPannel p {
    font-size: 15px;
    margin: 10px;
}

#rightPannel span {
    margin: 5px
}
