.stats {
    background-color: rgba(32, 176, 166, .7);
    padding: 10px;
    margin-top: 15px;
}
.score {
    padding: 10px
}
#rightPannel {
    font-size: 30px;
    margin-left: 50px;
    background-image: url('./images/game-board/red-bricks.png');
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    height: 600px;
    color: white;
    border: 10px solid white;

}

#rightPannel p {
    font-size: 20px;
    margin: 10px;
}

#rightPannel span {
    margin: 5px
}

.tracker {
    padding: 10px;
    background-color: rgba(32, 176, 166, .7);
}