header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px solid black;
    width: 1000px;
    height:700px
}

.score {
    font-size: 30px;
    margin-left: 50px;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    width: 250px;

}

.guide {
    width: 250px;
    margin-right: 50px;
    background-color: #a3b7d9;
    padding: 20px;
    border-radius: 55px;

}

.guide h4 {
    margin:10px
}

.guide p {
    margin-top: 10px;
    background-color: #8ea0bf;
    padding: 10px;
    border-radius: 5px;

}
.score h4 {
    font-size: 25px; 
    margin-right: 5px;
    margin-top:20px;
    margin-bottom: 10px;
}

.stats {
    background-color: #969fb0;
    padding: 10px
}


.health-bar {
    width: 200px;
    height: 30px;
    background-color: black;
    display: flex;
}

.healthbar1 {
    border: 1px dotted white;
    background-color: #b81200;
    width:20px;
}
.healthbar2 {
    border: 1px dotted white;
    background-color: #b81200;
    width:20px;
}
.healthbar3 {
    border: 1px dotted white;
    background-color: #ff1900;
    width:20px;
}
.healthbar4 {
    border: 1px dotted white;
    background-color: #ff1900;
    width:20px;
}
.healthbar5 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.healthbar6 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.healthbar7 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.healthbar8 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}
.healthbar9 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}
.healthbar10 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}



.skill-bar {
    width: 200px;
    height: 30px;
    background-color: black;
    display: flex;
}

.skillbar1 {
    border: 1px dotted white;
    background-color: #b81200;
    width:20px;
}
.skillbar2 {
    border: 1px dotted white;
    background-color: #b81200;
    width:20px;
}
.skillbar3 {
    border: 1px dotted white;
    background-color: #ff1900;
    width:20px;
}
.skillbar4 {
    border: 1px dotted white;
    background-color: #ff1900;
    width:20px;
}
.skillbar5 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.skillbar6 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.skillbar7 {
    border: 1px dotted white;
    background-color: #6e5f09;
    width:20px;
}
.skillbar8 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}
.skillbar9 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}
.skillbar10 {
    border: 1px dotted white;
    background-color: #917e0d;
    width:20px;
}

